{% from 'render_field_finding.html' import render_ID_age_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

   <div class='container theme-showcase' role='main'>
        <div class='row'>
            <div class = 'col-lg-12'>
                <div class='well bs-component'>
                    <form class='form-horizontal', method='POST' action = '/'>
                        {{ form.csrf_token }}
                        <fieldset>
                            <legend> ID's Student </legend>
                            {{ render_ID_age_field(form.ID, placeholder=form.ID.label.text) }}     
                            <div class = 'form-group'>
                                <div class = 'col-lg-10 col-lg-offset-2'>
                                    <button type='reset' class = 'btn btn-default'> Cancel </button>
                                    <button type='submit' class= 'btn btn-primary'>Submit</button>
                                </div>
                            </div>         
                        </fieldset>
                    </form>
                </div>
            </div>       
        </div>   
    </div>           


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>