{% macro render_ID_age_field(field) %}
<div class='form-group'>
    <label for='{{ field.name }}' class = 'col-lg-2 control-label'> {{ field.label.text}}</label>
    <div class='col-lg-2'>
        {{ field(class_='form-control', **kwargs) |safe}}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_name_email_field(field) %}
<div class='form-group'>
    <label for ='{{ field.name }}' class = 'col-lg-2 control-label'> {{ field.label.text}}</label>
    <div class='col-lg-5'>
        {{ field(class_='form-control', **kwargs) |safe}}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro render_DOB_field(field) %}
<div class='form-group'>
    <label for ='{{ field.name }}' class = 'col-lg-2 control-label'> Day Of Birth </label>
    <div class='col-lg-2'>
        {{ field(class_='form-control', **kwargs) |safe}}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}


{% macro render_gender_fields(field) %}
<div class='form-group'>
    <label class='col-lg-2 control-label'>{{ field.label.text}}</label>
    <div class='col-lg-5'>
        {% for subfield in field %}
            <div class='radio'>
                <label>
                    {{ subfield }}
                    {{ subfield.label.text }}
                </label>
            </div>
        {% endfor %}
    </div>
    
</div>
{% endmacro %}