{% macro render_ID_age_field(field) %}
<div class='form-group'>
    <label for='{{ field.name }}' class = 'col-lg-2 control-label'> {{ field.label.text}}</label>
    <div class='col-lg-2'>
        {{ field(class_='form-control', **kwargs) |safe}}
        <ul>
            {% for error in field.errors %}
                <li style='color:red;'>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}